/*-----------------------------------------------ABOUT STLYES-----------------------------------------------*/
#about-section {
    overflow: hidden;

    > .container > .row {
        row-gap: 50px;
    }
}

.about-section {
    &__left-content {
        h3 {
            color: #5b6560;
            font-weight: 600;
            margin-bottom: 22px;
            margin-top: -8px;
        }

        p {
            color: #666666;
            line-height: 30px;
            margin-bottom: 28px;
        }
    }

    &__badge-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;

        @include lg {
            flex-direction: row;
            gap: 40px;
            width: fit-content;
            margin: 0 auto;
            border: solid rgb(0 0 0 / 25%);
            border-width: 1px 0;
            padding: 30px 0;
        }

        @include md {
            flex-direction: column;
            border: none;
            padding: 0;
        }

        @include sm {
            flex-direction: row;
            border: solid rgba(0, 0, 0, 0.25);
            border-width: 1px 0px;
            padding: 15px 0;
        }

        @include xxs {
            gap: 20px;
        }

        img {
            width: 120px;

            @include xxs {
                width: 80px;
            }
        }
    }

    &__video {
        width: fit-content;
        position: relative;

        @include md {
            height: 260px;
            overflow: hidden;
            border-radius: 10px;
            width: 100%;
        }

        img {
            max-width: none;
            width: 460px;
            border-radius: 50%;
            border-top-left-radius: 0;
            outline: 1px solid var(--white);
            outline-offset: -15px;
            filter: brightness(0.7);

            @include md {
                border-radius: 10px;
                width: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: 0 -50px;
            }

            @include xxs {
                object-position: unset;
            }
        }
    }
}

span.highlighted-txt {
    color: var(--white);
    display: block;
    padding: 20px;
    margin: 15px -20px;
    font-style: italic;
    border-radius: 10px;
    @include gradient-primary-x;
    font-weight: 500;
    font-size: 18px;

    @include xxs {
        font-size: 16px;
    }
}

.about-section__video-popup-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 65px;
    height: 65px;
    font-size: 20px;
    border-radius: 50%;
    color: var(--primary-clr);
    border: 1px solid var(--white);
    padding: 5px;
    box-sizing: content-box;
    background-clip: content-box;
    outline: 1px solid var(--secondary-clr);
    outline-offset: -12px;
    line-height: 65px;
    text-align: center;
    background-color: var(--white);
    -webkit-animation: shadow 1s ease-in infinite;
    animation: shadow 1.2s ease-in infinite;

    &:hover {
        color: var(--primary-clr);
    }

    &:focus {
        outline: 1px solid var(--secondary-clr);
    }
}
