/*-----------------------------------------------ABOUT STLYES-----------------------------------------------*/
.about-section {
    padding-bottom: 120px;

    .content-bg-2 {
        overflow: visible;
        position: relative;
    }
}
