/*-----------------------------------------------HEADER STLYES-----------------------------------------------*/
header {
    background: #f8f8f8;
    box-shadow: 0px -10px 20px 0px rgb(0 0 0 / 30%);
    position: relative;
    z-index: 11;

    @include md {
        padding: 10px 0;
    }

    .offcanvas-body {
        align-items: center;
    }
}

.logo {
    @include md {
        width: 150px;
    }
}

.navbar-nav {
    column-gap: 40px;

    @include md {
        margin-bottom: 20px;
    }

    .nav-item {
        @include md {
            width: 100%;
        }
        a {
            color: var(--secondary-clr);
            text-transform: capitalize;
            font-size: 18px;
            line-height: 80px;
            display: inline-block;

            @include md {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                margin-bottom: 1px;
                line-height: 28px;
                background: #efefef;
            }
        }
    }
}

.logo {
    @include sm {
        width: 185px;
    }

    @include xxs {
        width: 135px;
    }
}

.btn-hamburger {
    @include gradient-primary-x;
    width: 50px;
    height: 50px;
    color: var(--white);
    font-size: 25px;
    scale: -1 1;
    border: none;
    position: relative;
    z-index: 1;
    transition: var(--transition);
    padding: 0;
    line-height: 50px;

    &::before {
        content: "";
        position: absolute;
        @include gradient-secondary-x;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0.375rem;
        transition: var(--transition);
        z-index: -1;
    }

    &:hover {
        color: var(--white);
        &::before {
            opacity: 1;
        }
    }

    @include xs {
        width: 42px;
        height: 42px;
        font-size: 22px;
        line-height: 42px;
    }
}

.btn-check:checked + .btn-hamburger,
.btn-hamburger.active,
.btn-hamburger.show,
.btn-hamburger:first-child:active,
:not(.btn-check) + .btn-hamburger:active {
    color: var(--white);
}

.submenu {
    position: absolute;
    list-style: none;
    top: 100%;
    padding: 0;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: var(--transition);
    z-index: 2;
    background: var(--white);
    box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
    min-width: 180px;

    @include md {
        position: static;
        height: 0;
        box-shadow: none;
    }

    .nav-item {
        border-bottom: 1px solid #dfdfdf;

        &:last-child {
            border: none;
        }

        a {
            color: #6f6a67;
            padding: 8px 15px;
            display: block;
            line-height: normal;
            font-size: 16px;

            @include md {
                background: transparent;
            }
        }
    }
}

.dropdown-btn {
    i {
        transform: rotate(0deg);
        transition: var(--transition);
    }

    &:hover {
        @include md {
            overflow: hidden;
            border: 1px solid var(--primary-clr);
            border-radius: 5px;
        }
        i {
            transform: rotate(180deg);
        }

        .submenu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);

            @include md {
                height: 100%;
            }
        }
    }
}
