/*-----------------------------------------------QUOTE STLYES-----------------------------------------------*/
#quote-section {
    @include gradient-primary-y;
    padding: 80px 0;

    > .container > .row {
        row-gap: 50px;
    }
}

.quote-section {
    &__vid-btn {
        width: fit-content;
        margin: 0 auto;
        position: relative;

        @include md {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__img {
        outline: 1px solid #e1e1e1;
        outline-offset: -10px;
        border-radius: 50%;

        @include md {
            width: 300px;
        }

        @include xxs {
            width: 200px;
        }
    }

    &__vid {
        width: 80%;
        height: 80%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        right: -100px;
        border-radius: 50%;
        translate: 0% -50%;

        @include md {
            position: relative;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            margin-left: -120px;
            top: auto;
            right: auto;
            translate: 0;
        }

        @include xxs {
            width: 160px;
            height: 160px;
            margin-left: -70px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border: none;
        background: #3f7e4e;
        color: #fff;
        font-size: 50px;
        border-radius: 50%;
        width: 90%;
        height: 90%;
        opacity: 80%;
        &:hover {
            color: var(--white);
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            animation: shadow 1.2s ease-in infinite;
            border-radius: 50%;
        }
    }

    &__txt {
        color: #f3fff3;
        position: relative;

        @include sm {
            text-align: center;
            padding-bottom: 35px;
            margin-bottom: 85px;
        }

        p {
            font-size: var(--fs-h4);
            line-height: 40px;
            margin-bottom: 70px;
            font-weight: 400;
            font-family: var(--font-primary);
            position: relative;
            margin-top: -11px;

            &::before {
                content: "";
                position: absolute;
                top: -60px;
                left: -120px;
                width: 160px;
                height: 160px;
                background: url(../img/quote/quotation.png) no-repeat center center;
                background-size: 100%;
                opacity: 10%;

                @include lg {
                    top: -60px;
                    left: -80px;
                    width: 130px;
                    height: 130px;
                }
            }

            @include xxs {
                margin-bottom: 60px;
            }
        }

        h5 {
            width: fit-content;
            position: relative;
            padding-left: 90px;
            margin: 0;
            font-style: italic;
            font-weight: 300;
            color: #e7f0e8;
            max-width: calc(100% - 210px);

            &::before {
                @include before;
                top: -35px;
                height: 0.1px;
                background: rgb(0 0 0 / 25%);

                @include xxs {
                    top: -30px;
                }
            }

            &::after {
                @include before;
                top: 50%;
                translate: 0 -50%;
                width: 80px;
                height: 0.1px;
                background: rgb(255 255 255 / 64%);

                @include xxs {
                    content: none;
                }
            }

            @include lg {
                max-width: calc(100% - 160px);
            }

            @include md {
                max-width: calc(100% - 210px);
            }

            @include sm {
                margin: 0 auto;
                max-width: none;
            }

            @include xxs {
                padding: 0;
                display: flex;
                flex-direction: column;
            }

            small {
                font-size: 16px;
                padding-left: 10px;
                margin-left: 10px;
                font-style: normal;
                border-left: 1px solid #e7f0e8;

                @include xxs {
                    padding-left: 0;
                    margin-left: 0;
                    border-left: 0;
                    padding-top: 8px;
                }
            }
        }

        & > img {
            position: absolute;
            width: 160px;
            right: 50px;
            bottom: -25px;

            @include lg {
                right: 0;
            }

            @include md {
                right: 50px;
            }

            @include sm {
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 120px;
            }
        }
    }
}
