/*-----------------------------------------------COMPONENTS STLYES-----------------------------------------------*/
/*---------- GLASSMORPHISM BG ----------*/
.content-bg {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 12%);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    // border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 0 3000px 3000px 0;
    overflow: hidden;
}

.content-bg-2 {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 12%);
    backdrop-filter: blur(12px);
    // border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 3000px 0 0 3000px;
    overflow: hidden;
    // height: 500px;
}
/*---------- GLASSMORPHISM BG ----------*/

/*----------CUSTOM BUTTON 1 STLYES START----------*/
.btn-custom-1 {
    height: 40px;
    display: inline-block;
    line-height: 40px;
    background-color: cornflowerblue;
    color: var(--white);
    padding: 0 20px;
    border-radius: 5px;

    &::before {
        content: "";
        @include gradient-secondary-x;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        z-index: -1;
        opacity: 0;
        transition: var(--transition);
    }

    &:hover {
        box-shadow: 5px 5px 0 #ddd;
        color: #ddd;
    }

    i {
        margin-left: 5px;
    }

    @include lg {
        font-size: 16px;
        padding: 0 24px;
        height: 50px;
        line-height: 50px;
    }

    @include xxs {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
}
/*----------CUSTOM BUTTON 1 STLYES END----------*/

/*----------CUSTOM BUTTON 2 STLYES START----------*/
.btn-custom-2 {
    border: 2px solid var(--secondary-clr);
    display: inline-block;
    text-transform: capitalize;
    color: var(--secondary-clr);
    padding: 0 28px;
    height: 50px;
    line-height: 45px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    background: linear-gradient(white, white), linear-gradient(to bottom right, #2f6342, #4f9859);
    border-radius: 10px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: solid 2px transparent;

    i {
        margin-left: 5px;
    }

    &::before {
        border-radius: 10px;
        z-index: -1;
        opacity: 0;
        transition: var(--transition);
        @include before;
        border-radius: 6px;
        @include gradient-secondary-x;
    }

    &:hover {
        color: var(--white);

        &::before {
            opacity: 1;
        }
    }

    @include lg {
        font-size: 16px;
        padding: 0 24px;
        height: 50px;
        line-height: 46px;
    }

    @include xxs {
        padding: 0 20px;
        height: 40px;
        line-height: 35px;
        font-size: 14px;
    }
}
/*----------CUSTOM BUTTON 2 STLYES END----------*/

/*----------INNER PAGE HEADING STLYES START----------*/
.inner-page-heading {
    padding: 70px 0;
    @include gradient-primary-x;
    color: var(--white);
    position: relative;
    z-index: 1;

    @include sm {
        padding: 50px 0;
    }

    @include xs {
        padding: 35px 0;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 380px;
        background: url(../img/hero/banner-img-3.png) no-repeat 110px 100%;
        background-size: 100%;
        transform: scaleX(-1);
        z-index: -1;
        filter: opacity(0.5);

        @include lg {
            content: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 440px;
        background: url(../img/hero/banner-img-3.png) no-repeat 0 100%;
        background-size: 100%;
        z-index: -1;
        filter: opacity(0.7);

        @include lg {
            filter: opacity(0.4) blur(1.8px);
            width: 45%;
        }
    }

    &__content {
        font-family: var(--font-secondary);
        font-weight: 400;
    }

    &__title {
        border-bottom: 1px dashed #dfdfdf;
        width: fit-content;
        margin: auto;
        padding: 0 50px 20px;
        margin-bottom: 30px;
        font-size: 40px;
        text-transform: capitalize;

        @include sm {
            padding: 0 50px 15px;
            margin-bottom: 25px;
            font-size: 35px;
        }

        @include xs {
            font-size: 30px;
        }
    }

    &__breadcrumb {
        display: flex;
        gap: 20px;
        border: 1px solid rgb(255 255 255 / 25%);
        width: fit-content;
        margin: 0 auto;
        border-radius: 25px;
        padding: 8px 20px;
        text-transform: capitalize;
        list-style: none;

        @include xs {
            font-size: 15px;
        }

        li {
            position: relative;
            padding-right: 15px;

            &::before {
                position: absolute;
                content: "\f105";
                left: 100%;
                top: 50%;
                translate: 0 -50%;
                font-family: "Font Awesome 6 Pro";
            }

            &:last-child {
                padding: 0;

                &::before {
                    content: none;
                }
            }
        }

        a {
            color: var(--white);
        }
    }
}
/*----------INNER PAGE HEADING STLYES END----------*/

/*----------SECTION HEADING STLYES START----------*/
.section-heading {
    text-align: center;
    position: sticky;
    top: 10px;
    font-family: var(--font-secondary);
    // padding-bottom: 60px;
    // margin-bottom: calc(20px + 60px);

    @include xs {
        margin-bottom: 55px;
        padding-bottom: 50px;
    }

    &::before {
        position: absolute;
        // content: "";
        top: 100%;
        left: 50%;
        translate: -50% 0;
        background: #68b643;
        height: 0.1px;
        width: 230px;
    }

    &::after {
        position: absolute;
        // content: "";
        top: calc(100% + -25px);
        left: 50%;
        translate: -50% 0;
        background: url(../img/icon/leaf-icon.png) no-repeat center center;
        height: 45px;
        width: 60px;
        background-size: 40px;
        background-color: var(--white);
    }
}

span.section-subtitle {
    color: #30694b;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: -5px;
}

.section-title {
    text-transform: uppercase;
    color: #898989;
    font-family: var(--rajdhani);
    font-weight: 700;
    writing-mode: vertical-lr;
    scale: -1;
    line-height: 1;
    font-size: 135px;
    position: absolute;
    right: 100%;
    margin: 0;
    -webkit-text-fill-color: #3b3c42;
    -webkit-text-stroke: 1px #787878;

    @include md {
        font-weight: 600;
        br {
            display: none;
        }
    }
}
/*----------SECTION HEADING STLYES END----------*/

/*----------SIDEBAR STLYES START----------*/
.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include md {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    @include sm {
        flex-direction: column;
    }

    &-section {
        background-color: #fafafa;
        border: 1px solid #e8e9e8;
        border-radius: 15px;
        padding: 20px;

        @include md {
            flex: 48%;
        }

        @include xs {
            width: 90%;
            margin: 0 auto;
        }

        @include xxs {
            width: 100%;
            padding: 20px;
        }

        &__title {
            border-bottom: 1px solid;
            border-image: linear-gradient(to right, var(--primary-clr), var(--secondary-clr));
            border-image-slice: 1;
            width: fit-content;
            padding-bottom: 15px;
            margin-bottom: 25px;
            color: #5a6560;
        }

        &__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 0;

            li {
                border-bottom: 1px solid rgb(193 193 193 / 44%);
                padding-bottom: 15px;

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }

                a {
                    color: #606060;
                    line-height: 28px;
                    position: relative;
                    padding-left: 20px;
                    display: inline-block;
                    text-transform: capitalize;
                    font-family: var(--font-secondary);
                    font-weight: 400;

                    &:hover {
                        color: var(--primary-clr);
                    }

                    &::before {
                        @include before;
                        @include gradient-primary-x;
                        top: 8px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
            }
        }

        &--news-categories {
            li a {
                display: flex;
                justify-content: space-between;
            }
        }

        &--searchable-keyword {
            .sidebar-section__list {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 6px;

                li {
                    border-bottom: none;
                    padding-bottom: 0;

                    a {
                        border: 1px solid rgb(231 232 231);
                        padding: 1px 10px;
                        border-radius: 5px;
                        z-index: 1;
                        font-size: 14px;

                        &::before {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            z-index: -1;
                            top: 0;
                            opacity: 0;
                            transition: var(--transition);
                        }

                        &:hover {
                            color: var(--white);
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.search-form {
    position: relative;

    @include md {
        margin: 0 auto;
        width: 80%;
    }

    @include xs {
        width: 90%;
    }

    @include xxs {
        width: 100%;
    }
}

input#search {
    width: 100%;
    border: 1px solid var(--primary-clr);
    border-radius: 10px;
    padding: 15px;
    padding-right: 45px;

    &:focus {
        border-color: var(--secondary-clr);
        outline: none;
    }
}

.search-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    translate: 0 -50%;
    padding: 0;
    width: 47px;
    height: 47px;
    border-radius: 8px;
    color: var(--white);
    @include gradient-primary-x;
}
/*----------SIDEBAR STLYES END----------*/

/*---------- BACK TO TOP BUTTON STYLES ----------*/
.back__to__top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-clr);
    box-shadow: 0px 4px 32px 0px rgb(0 0 0 / 36%);
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 49px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 111;

    &:hover {
        line-height: 40px;
    }

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    @include xs {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 39px;

        &:hover {
            line-height: 30px;
        }
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 #9b9b9b, 0 0 0 0 #9b9b9b, 0 0 0 0 #9b9b9b;
    }
    100% {
        box-shadow: 0 0 0 30px transparent, 0 0 0 29px transparent, 0 0 0 28px transparent;
    }
}
