/*-----------------------------------------------CUSTOM PROPERTIES-----------------------------------------------*/
:root {
    --primary-clr: #519c5b;
    --secondary-clr: #2b5c3f;
    --white: #fff;
    --black: #000;

    /* --- utilities --- */
    --transition: 0.4s ease;
}
